@()
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Team Incredibles Dashing</title>

    <script type="text/javascript" src='@routes.Assets.at("lib/jquery/jquery.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("lib/gridster.js/dist/jquery.gridster.min.js")'></script>
    <!--<script type="text/javascript" src="/assets/application.js"></script>-->
    <link rel="stylesheet" href='@routes.Assets.at("lib/gridster.js/dist/jquery.gridster.min.css")'>
    <!--<link rel="stylesheet" href='@routes.Assets.at("stylesheets/application.css")'>-->
    <link rel="stylesheet" href='@routes.Assets.at("stylesheets/widgets/sprint_goal.css")'>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/assets/favicon.ico">

</head>
<body>

<div class="gridster">
    <ul>
        <li class="widget-sprint-goal" data-row="1" data-col="1" data-sizex="2" data-sizey="1">
            @views.html.widgets.sprintGoal()
        </li>

        <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
            WORLD
            <div data-id="SprintProgress" data-view="SprintProgress" data-title="Stories In Progress" class="inProgress"></div>
        </li>

        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="Quotes" data-view="Quotes"></div>
        </li>

        <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
            <div data-view="Image" data-image="/incredibles_logo.png"></div>
        </li>

        <!--<li data-row="3" data-col="1" data-sizex="3" data-sizey="3">-->
            <!--<div data-id="master_manage_vat_subscription_update" data-view="ManageVatPrs"></div>-->
        <!--</li>-->
    </ul>
</div>
<script type="text/javascript">
    var gridster;

    $(function() {
        gridster = $(".gridster > ul").gridster({
            widget_margins: [5, 5],
            widget_base_dimensions: [140, 140],
            min_cols: 4
        }).data('gridster');
    });
</script>
</body>
</html>